# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyBO9K33tnpwvIugANqm2VAVUmqPTWiNA6U"
VITE_FIREBASE_AUTH_DOMAIN="gen-lang-client-0815291403.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="gen-lang-client-0815291403"
VITE_FIREBASE_STORAGE_BUCKET="gen-lang-client-0815291403.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID=259192772382
VITE_FIREBASE_APP_ID="1:259192772382:web:e8a2fdff15f4ceac439b0f"

# Development (set to 'true' to use Firebase emulators)
VITE_USE_FIREBASE_EMULATOR=false
